.services{
    background: #fafafa;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
}
.services_heading{
    text-align: center;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
}
.services_heading h2{
    font-size: 50px;
    font-weight: 700 !important;
}
.services_heading span{
font-family: "Miss Fajardose", cursive;
font-size: 100px;
color: #ffa323;
position: absolute;
top: -55px;
left: 0;
right: 0;
z-index: -1;
}
.catering_services{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sticker{
    width: 120px;
    height: 120px;
    background: #000000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
}

.service{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 15px;
}
.service h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin: 20px;
}
.service p{
    line-height: 2; 
    font-size: 17px;    
    color: rgb(80, 80, 80);
}