.button {
    width: 100%;
    border-radius: 2px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    cursor: pointer;
  }

.button--orange{
  background: #ffa323;
  color: #fff;
  border: 1px solid #ffa323;
}  

.button--tranparent{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.button--sm{
  height: 46px;
  font-size: 12px;
}
.button--md{
  height: 51px;
  font-size: 14px;
}
.button--lg{
  height: 56px;
  font-size: 16px;
}