.customers{
    padding: 96px 0;
    background-image: url('../../assets/images/about/bg_5.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
}
.customers_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #fff;
    z-index: -1;
}
.customers_heading{
    text-align: center;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
}
.customers_heading h2{
    font-size: 50px;
    font-weight: 700 !important;
}
.customers_heading span{
font-family: "Miss Fajardose", cursive;
font-size: 100px;
color: #ffa323;
position: absolute;
top: -55px;
left: 0;
right: 0;
z-index: -1;
}

.carousel_customers{
    display: flex;
    justify-content: space-around;
}
.carousel_customers img{
    width: 200px;
    height: 200px;
}
.customer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.customer img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.customer p{
    color: #4e4e4e;
    font-size: 20px;
    line-height: 2rem;
    margin-bottom: 30px;
}
.customer h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.customer span{
    text-transform: uppercase;
    color: #939393;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}