*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
.app{
  background-image: url('./images/hero_2.jpg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  min-height: 1000px;
}