@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Miss+Fajardose&family=Monoton&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


/* responsive according to the container */


@media (min-width: 320px) and (max-width: 575px){
  .container{
    max-width: 280px;
  }
}
@media (min-width: 576px) and (max-width: 767px) { 
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991px) { 
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) { 
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) { 
  .container{
    max-width: 1120px;
  }
 }



 /* responsive to the mobile application */
 @media (min-width: 320px) and (max-width: 575px){
  .header .header_contact{
    display: none;
   }
   .header .navbar-collapse{
     display: none;
   }
  .header .navbar{
     padding: 0 20px;
     background: #000000;
   }
   .slider .slider_text-center h1{
     font-size: 30px;
   }
  .header .menu_box{
     display: block;
   }
   .table-statistics{
     flex-direction: column;
   }
   .about_restaurant .about_restaurant_table{
     height: 500px;
   }
   .catering_services{
     flex-direction: column;
     gap: 40px;
   }
   .catering_services .service{
     width: 100%;
   }
   .menu_specialties_section{
     flex-direction: column;
   }
   .menu_specialties_section .menu_category{
     width: 100%;
   }
   .make_reservation{
     flex-direction: column;
   }
   .make_reservation .reservation_form{
     width: 100%;
   }
   .make_reservation .restaurant_place{
     width: 100%;
     padding: 60px 0;
   }
   .make_reservation .reservation_form{
     width: 100%;
   }
   .make_reservation .reservation_form form{
     flex-direction: column;
   }
   .make_reservation .reservation_form form .form_group{
     width: 100%;
   }
   .reservation_form .form_btn{
     width: 100%;
     margin-bottom: 30px;
   }
   .about_chefs{
     flex-direction: column;
     gap: 30px;
   }
   .about_chefs .chef{
     width: 100%;
   }
   .chef .chef_image{
     height: 320px;
   }
   .chef .chef_image img{
     object-fit: cover;
     object-position: top center;
   }
   .carousel_customers{
     flex-direction: column;
   }
   .carousel_customers .customer{
     width: 100%;

   }
   footer{
     flex-direction: column;
     gap: 30px;
   }
   footer .footer_brand{
     width: 100%;
   }
   footer .footer_open_hours{
     width: 100%;
   }
   footer .newsletter{
     width: 100%;
   }
   footer .instagram_photos{
     width: 100%;
   }
}
 
 @media (min-width: 576px) and (max-width: 767px) { 
   .header .header_contact{
     display: none;
    }
    .header .navbar-collapse{
      display: none;
    }
   .header .navbar{
      padding: 0 20px;
      background: #000000;
    }
    .slider .slider_text-center h1{
      font-size: 30px;
    }
   .header .menu_box{
      display: block;
    }
    .table-statistics{
      flex-direction: column;
    }
    .about_restaurant .about_restaurant_table{
      height: 500px;
    }
    .catering_services{
      flex-direction: column;
      gap: 40px;
    }
    .catering_services .service{
      width: 100%;
    }
    .menu_specialties_section{
      flex-direction: column;
    }
    .menu_specialties_section .menu_category{
      width: 100%;
    }
    .make_reservation{
      flex-direction: column;
    }
    .make_reservation .reservation_form{
      width: 100%;
    }
    .make_reservation .restaurant_place{
      width: 100%;
      padding: 60px 0;
    }
    .make_reservation .reservation_form{
      width: 100%;
    }
    .make_reservation .reservation_form form{
      flex-direction: column;
    }
    .make_reservation .reservation_form form .form_group{
      width: 100%;
    }
    .reservation_form .form_btn{
      width: 100%;
      margin-bottom: 30px;
    }
    .about_chefs{
      flex-direction: column;
      gap: 30px;
    }
    .about_chefs .chef{
      width: 100%;
    }
    .chef .chef_image{
      height: 320px;
    }
    .chef .chef_image img{
      object-fit: cover;
      object-position: top center;
    }
    .carousel_customers{
      flex-direction: column;
    }
    .carousel_customers .customer{
      width: 100%;

    }
    footer{
      flex-direction: column;
      gap: 30px;
    }
    footer .footer_brand{
      width: 100%;
    }
    footer .footer_open_hours{
      width: 100%;
    }
    footer .newsletter{
      width: 100%;
    }
    footer .instagram_photos{
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) { 
    .header .header_contact{
      display: none;
     }
     .header .navbar-collapse{
       display: none;
     }
    .header .navbar{
       padding: 0 20px;
       background: #000000;
     }
     .slider .slider_text-center h1{
       font-size: 30px;
     }
    .header .menu_box{
       display: block;
     }
     .catering_services{
       gap: 40px;
     }
     .catering_services .service{
       width: 100%;
     }
     .menu_specialties_section .menu_category{
       width: 48%;
     }
     .make_reservation{
       flex-direction: column;
     }
     .make_reservation .reservation_form{
       width: 100%;
     }
     .make_reservation .restaurant_place{
       width: 100%;
       padding: 60px 0;
     }
     .make_reservation .reservation_form{
       width: 100%;
     }
     .make_reservation .reservation_form form{
       flex-direction: column;
     }
     .make_reservation .reservation_form form .form_group{
       width: 100%;
     }
     .reservation_form .form_btn{
       width: 100%;
       margin-bottom: 30px;
     }
     .about_chefs{
      gap: 20px;
     }
     .about_chefs .chef{
       width: 48%;
     }
     .chef .chef_image{
       height: 320px;
     }
     .chef .chef_image img{
       object-fit: cover;
       object-position: top center;
     }
     .carousel_customers{
       flex-direction: column;
     }
     .carousel_customers .customer{
       width: 100%;
 
     }
     footer{
       gap: 20px;
     }
     footer .footer_brand{
       width: 48%;
     }
     footer .footer_open_hours{
       width: 48%;
     }
     footer .newsletter{
       width: 48%;
     }
     footer .instagram_photos{
       width: 48%;
     }
}


@media (min-width: 992px) and (max-width: 1199px) { 
  .menu_icon{
    display: none;
  }
  .header .navbar{
     padding: 0 20px;
   }
   .slider .slider_text-center h1{
     font-size: 50px;
   }
  .header .menu_box{
     display: block;
   }
   .catering_services{
     gap: 40px;
   }
   .catering_services .service{
     width: 100%;
   }
   .menu_specialties_section .menu_category{
     width: 30%;
   }
   .make_reservation .reservation_form{
     width: 48%;
   }
   .make_reservation .restaurant_place{
     width: 48%;
     padding: 60px 0;
     text-align: center;
   }
   .make_reservation .reservation_form form{
     flex-direction: column;
   }
   .make_reservation .reservation_form form .form_group{
     width: 100%;
   }
   .reservation_form .form_btn{
     width: 100%;
     margin-bottom: 30px;
   }
   .about_chefs .chef{
     width: 24%;
   }
   .chef .chef_image{
     height: 320px;
   }
   .chef .chef_image img{
     object-fit: cover;
     object-position: top center;
   }
 }

@media (min-width: 1200px) { 
  .menu_icon{
    display: none;
  }
 }